:root {
  --color-gray-darker: #262626;
  --color-gray-dark: #999;
  --color-gray: #aaa;
  --color-gray-light: #ccc;
  --color-gray-lighter: #dbdbdb;
  --color-white-bis: #fafafa;
  --color-blue: #3897f0;
}
