<div id="user-actions" class="modal">
  <div class="user-action">
    <%= link_to "Editar seu perfil", edit_profile_path %>
  </div>

  <div class="user-action">
    <%= link_to "Deslogar", destroy_user_session_path, method: :delete,
      data: { confirm: "Deslogar da sua conta?" } %>
  </div>
</div>
